In [2]:
import pandas as pd

### DataFrame

a DataFrame is a 2D labeled data structure like a table in a database or excel sheet.It consists of Rows and Col's which can hold different types of data.

In [3]:
data = [[1,2,3] , [4,5,6] , [7,8,9]]

In [4]:
df = pd.DataFrame(data , columns = ['A' , 'B' , 'C'])

In [5]:
# head function shows first 5 rows.
print(df.head())

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
# tail method used to show last 5 rows
print(df.tail())
# To show first n rows df.head(n) also we can do same with tail
print(df.head(2)) # this will print first 2 rows

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [8]:
# info() is used to show a summary of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

In [9]:
# describe() is used to statistical summary for numerical columns
print(df.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [10]:
# to show all the indecies
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'City'], dtype='object')

In [11]:
example = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df1 = pd.DataFrame(example, columns=['A', 'B', 'C'])
# to find how many unique values in each columns
print(df1.nunique())
# To find all the unique in a specific column
print("Unique value in column A: " , df1['A'].unique())

A    3
B    3
C    3
dtype: int64
Unique value in column A:  [1 4 7]

In [12]:
# To get the shape of the DataFrame
print(df.shape) # (row , col)

(3, 3)

## Loading in DataFrame from Files

In [15]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
# we also can go to the github file and copy the URL and paste it in quotes to get all the data

In [16]:
print(coffee.head())

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [19]:
result = pd.read_parquet('./data/results.parquet')